<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center" style="margin-top: 100px;">
    <h1>Выберите роль</h1>
    <div class="mt-4">
        <a th:href="@{/login-admin}" class="btn btn-primary btn-lg">Администратор</a>
        <a th:href="@{/login-client}" class="btn btn-secondary btn-lg">Клиент</a>
    </div>
</div>
</body>
</html>
